{% extends "ArtiFolio/base.html" %}

{% block titulo%}Artwork detail{% endblock%}

{% block contenido %}
<div class="container">
    <div class="card">
        <img src="{{ artwork.final_image.url }}" alt="{{ artwork.title }}">
        <div class="card-body">
            <h5>{{ artwork.title }}</h5>
            <p>{{ artwork.description }}</p>

            {% if artwork.start_date %}
                <li class="date-item">
                    <strong>Start date:</strong> {{ artwork.start_date|date:"d M Y" }}
                </li>
            {% endif %}
                    
            {% if artwork.end_date %}
                <li class="date-item">
                    <strong>End date:</strong> {{ artwork.end_date|date:"d M Y" }}
                </li>
            {% endif %}

            {% if artwork.video_timelapse %}
            <h6>Timelapse video:</h6>
            <video width="100%" controls>
                <source src="{{ artwork.video_timelapse.url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            {% endif %}

            {% if progress_photos %}
            <h6>Progress photo:</h6>
            <div class="row">
                {% for photo in progress_photos %}
                <div class="col">
                    <img src="{{ photo.image.url }}" alt="Progreso {{ photo.order }}">
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="container">
            <a href="{% url 'artwork_update' artwork.id %}">Edit</a>
            <a href="{% url 'artwork_delete' artwork.id %}">Delete</a>
        </div>
    </div>
    
    <a href="{% url 'artwork_list' %}">← Return to gallery</a>
</div>

<div class="container comments-section"> 
    <h4>Private comments</h4>
    {% if private_comments %}
        {% for comment in private_comments %}
        <div class="comment-box"> 
            <div class="comment-meta">
                <strong>{{ comment.user.username }}</strong> ({{ comment.created_at|date:"d M Y H:i" }}):
            </div>
            
            <p>{{ comment.text }}</p>

            {% if request.user == comment.user %}
                <form action="{% url 'delete_private_comment' comment.id %}" method="post" class="delete-comment-form">
                    {% csrf_token %}
                    <button type="submit" title="Delete comment"> ✕ </button>
                </form>
            {% endif %}

        </div>
        {% endfor %}
    {% else %}
        <p>There are no private comments yet.</p>
    {% endif %}

    <h5>Add comment</h5>
    <form method="post" action="{% url 'add_private_comment' artwork.id %}">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">Save comment</button>
    </form>
</div>
<a href="{% url 'artwork_list' %}">Return to list</a>
{% endblock contenido %}